## 1.Entering expression in python interactive shell

In [ ]:
abs(-10)

In [ ]:
len("Hello World")

In [ ]:
def add(a,b):
    return(a+b)

In [ ]:
add(10,20)

In [ ]:
True and False

In [ ]:
False and False

In [ ]:
not False

In [ ]:
not True

In [ ]:
x=10
y=3.14
name="John"
is_True=True
fruits=["apple","banana","orange"]
student={"name":"John","age":"20"}
print(type(x))
print(type(y))
print(type(name))
print(type(is_True))
print(type(fruits))
print(type(student))

In [ ]:
int(20.1)

In [ ]:
str(10)

In [ ]:
str(20.0)

In [ ]:
"soujanya"*3

In [ ]:
greeting="Hello"
name="John"
message=greeting+" "+name
print(message)

In [ ]:
fruit="apple"
repeated_fruit=fruit*3
print(repeated_fruit)

In [ ]:
"SDMIT UJIRE."*6

In [ ]:
word="Hi"
punctuation="!"
greeting=(word+punctuation)*3
print(greeting)

In [ ]:
num1=float(input("Enter the first number:"))
num2=float(input("Enter the second number:"))
sum_result=num1+num2
product_result=num1*num2
division_result=num1/num2
multiplication_result=num1*num2
modulus_result=num1%num2
print("Sum:",sum_result)
print("Product:",product_result)
print("Division:",division_result)
print("Multiplication:",multiplication_result)
print("Modulus:",modulus_result)

In [ ]:
number=int(input("Enter a number:"))
if number%2==0:
    print(number,"is even.")
else:
    print(number,"is odd.")

In [ ]:
celsius=float(input("Enter temperature in celsius:"))
fahrenheit=(celsius*9/5)+32
print(fahrenheit)

In [ ]:
number=int(input("Enter a number"))
factorial=1
if number<0:
    print("Factorial cannot be calculated for negative numbers.")
elif number==0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,number+1):
        factorial*=i
print("The factorial of",number,"is",factorial)

In [ ]:
base=float(input("The base of the triangle:"))
height=float(input("The height of the triangle:"))
area=base*height/2
print("The area of the triangle is",area)

In [ ]:
principal=float(input("Enter the principal amount:"))
rate=float(input("Enter the rate:"))
time=float(input("Enter the time:"))
interest=(principal*rate*time)/100
print(interest)

In [ ]:
num1=float(input("Enter the first number:"))
num2=float(input("Enter the second number:"))
temp=num1
num1=num2
num2=temp
print("After swapping:")
print("First number:",num1)
print("Second number:",num2)

In [1]:
num1=float(input("Enter the first number:"))
num2=float(input("Enter the second number:"))
num1=num1+num2
num2=num1-num2
num1=num1-num2
print("After swapping:")
print("First number:",num1)
print("Second number:",num2)

Enter the first number:3
Enter the second number:6
After swapping:
First number: 6.0
Second number: 3.0

In [2]:
num1=float(input("Enter the first number:"))
num2=float(input("Enter the second number:"))
num1,num2=num2,num1
print("After swapping:")
print("First number:",num1)
print("Second number:",num2)

Enter the first number:3
Enter the second number:5
After swapping:
First number: 5.0
Second number: 3.0

In [3]:
n=int(input("Enter a positive integer:"))
sum_natural=(n*(n+1))//2
print("The sum of the first",n,"natural number is:",sum_natural)

Enter a positive integer:2
The sum of the first 2 natural number is: 3

In [4]:
n=int(input("Enter a positive integer:"))
sum_natural_numbers=0
count=1
while count<=n:
    sum_natural_numbers+=count
    count+=1
print("The sum of the first",n,"natural number is:",sum_natural_numbers)

Enter a positive integer:6
The sum of the first 6 natural number is: 21

In [5]:
n=int(input("Enter a positive integer:"))
sum_natural_numbers=0
for i in range(1,n+1):
    sum_natural_numbers+=i
print("The sum of the first",n,"natural number is:",sum_natural_numbers)

Enter a positive integer:8
The sum of the first 8 natural number is: 36